<div class="card  p-2 m-7 row-3">
    <div class="img-wrapper">
        <!-- DATA BINDING  -->
        <!-- BY STRING INTERPOLATION -->
        <img *ngIf="property.Image" class="card-img-top" src="assets/image/{{property.Image}}.jpeg" alt="">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/image/house_1.png" alt="">

        <ul class="list-inline text-centre member-icons animate">
            <li class="list-inline-item"><button class="btn btn-primary" routerLink="/">Phone</button></li>
            <li class="list-inline-item"><button class="btn btn-primary"  routerLink="/property-detail/{{property.Id}}" >Edit</button></li>

        </ul>
        <div class="card-body p-2">
            <h1>{{property.Name}}</h1>
            <h1>{{property.Type}}</h1>
            <h1>{{property.Price}}</h1>
        </div>
    </div>
</div>